*{
    margin:"0";
}

.button{
    margin-left: 20px;
    margin-top: 10px;    
    position: absolute;
    z-index: 100;
}

img.check{
    margin-left: 120px;
}

p{
    text-align: center;
}

img.big-preview{
    background-size: cover;
    background-image: url(/assets/background.png);
    max-height: 350px;
    max-width: 1200px;
    
}

.category {	
	width:60px;
	height:20px;
	bottom:40px;
    right:40px;
    margin-left: 70px;
	background-color:yellow;	
    border-radius:50px;	
    text-align: center;	
    transition: 0.6s ease;            
}

p.content{
    text-align: left;
    margin-left: 70px;
}

h1.titletext{
    color: black;
    margin-left: 70px;
    font-weight: bold;
}

a#button_borrow{
    position: absolute;    
    top: 85%;
    left: 80%;    
    color: white;   
    font-size: 25px; 
    width: 150px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

h1.statustext{
    color: green;
    font-size: 20px;
    margin-left: 100px;
}

p.date{
    text-align: left;
    margin-left: 70px;
    font-weight: bold;
}

.category p{    
    color: black;
    text-decoration: none;
    font-size: 15px;            
}

img.small-preview{
    top: 45%;
    left: 90%;
    transform: translate(-50%,-50%);
    position: absolute;    
    height: 150px;
    width: 100px
    
}

ul.menuhead{    
    margin-left: 1000px;
    float: right;
}

ul.menuhead li{
    display: inline;
    padding: 10px;
    color: white;
    text-decoration: none;
}

ul.menuhead li a:hover {
    background-color: transparent;
    color: blue;
}


/* slick slider */

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.title-book {
    font-weight: bold;
    text-align: center;
    font-size: larger;
}

.list-book-detail {
    padding: 10px;
}

.filtr-item.col-sm-4.list-book {
    padding: 7.5px;
}

img.img-fluid.img-book {border-top-left-radius: 10px;border-top-right-radius: 10px;}

.list-book-detail {
    background: white;
    padding-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
/* Add Styline */
}

.list-title h4 {
    text-align: center;
}
