.content-wrapper>.content {
    padding: 0 .5rem;
}

img-big-preview{
    width: 100%;
   background-size: cover;
   background-image: url(../media/books/donation-book.jpg);
   max-height: 350px;
   max-width: 100%;
}
p{
    text-align: center;
}

p.content{
    text-align: justify;
    margin-left: 70px;
}

h1.title-text{
    color: black;
    margin-left: 70px;
    font-weight: bold;
    font-size: 2.5rem;
}

/* Add Styline */
.list-reason h4 {
    text-align: center;
}

.list-title h4 {
    float: left;
    font-weight: 700;
    font-size: 2rem;
}
h5.card-title {
    font-size: 20px;
    margin-left: 30px;
}


.row#reason {
    margin: 2rem;
}

@media (max-width: 1920px){
    .row#reason{
        text-decoration: none;
    }

@media (max-width: 1440px){
    .row#reason{
        text-decoration: none;
    }

@media (max-width: 1024px){
    .row#reason{
        text-decoration: none;
    }

@media (max-width: 800px){
    img.big-preview{
        background-size: cover;
        background-image: url(../media/books/donation-book.jpg);
        max-height: 350px;
        max-width: 100%;
        }

    .row#reason{
        text-decoration: none;
        margin-left: 200px;
        display: flex;
        color: black;
        list-style-type:none;
        justify-content: space-evenly;
        }

@media (max-width: 450px){
    .row#reason{
        text-decoration: none;
        margin-left: 60px;
        display: list-item;
        color: black;
    }

@media (max-width: 330px){
    .row#reason{
        text-decoration: none;
        margin-left: 15px;
        orientation: auto;
        color: black;
    }

